<!-- Modal for User input name and location -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="user-name">
                    </div>
                    <div class="form-group">
                        <label for="user-email" class="col-form-label">Email:</label>
                        <input class="form-control" id="user-email"></textarea>
                    </div>

                    <!-- TEST SPACE FOR AUTOCOMPLETE -->
                    <div class="form-location">
                        <label for="city" class="col-form-label">Your Location:</label>
                        <input type="search" id="city" class="form-control" placeholder="Where are you located?" />

                        <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
                        <script>
                            (function () {
                                var placesAutocomplete = places({
                                    appId: 'pl4TRIIAJFA1',
                                    apiKey: '959339ddd5da57ac40f40d81051bb8b5',
                                    container: document.querySelector('#city'),
                                    templates: {
                                        value: function (suggestion) {
                                            return suggestion.name;
                                        }
                                    }
                                }).configure({
                                    type: 'city',
                                    countries: 'us',
                                    aroundLatLngViaIP: false,
                                });
                            })();

                        </script>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button id='submitUser' type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for User Reviews -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit Your Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input class="form-control" id="company" placeholder="Company">
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        <input class="form-control" id="rating" placeholder="Rating">
                    </div>
                    <div class="form-group">
                        <label>Pay</label>
                        <input class="form-control" id="pay" placeholder="Pay">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input class="form-control" id="location" placeholder="Location">
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button id='submitReview' type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="container pb-5" id='main-container'> --}}

{{!-- LOGO AREA --}}
<div class="container mt-4 d-flex justify-content-center">

    <img src="./asset/img/IMG_7593.PNG" class="pr-2" id="logo_image">
    <h1 id="title"> BEST GIG </h1>

</div>
<center>
    <div class="w-75 pb-5" id='main-container'>

        <!-- beginning of search bar, filter, and review box -->
        <div class="row">
            <div class="col-sm-9 mt-5 ml-2">
                <div class="input-group md-form form-sm form-2 pl-5">
                    <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search"
                        aria-label="Search" id="company-search">
                    <button class="btn btn-warning my-2 my-sm-0" type="submit" id="submit">Search</button>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Rating</a>
                            <a class="dropdown-item" href="#">Pay</a>
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mt-5">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
                    id="userReview">
                    Earn Points!
                </button>
                <!-- <button type="button" class="btn btn-outline-primary" id="userInput">Earn Points!</button> -->

                <div class="modal" id="exampleModal">

                </div>
            </div>
        </div>
        <!-- end of search bar, filter, and review box -->

        {{!-- Beginning of results --}}
        <div id="results">
        </div>

    </div>
    </div>
</center>
{{!-- <script>
    $.ajax({
        url: "api/companies",
        type: "GET"
    }).then(function (dbCompanies) {
        console.log("saturday morning", dbCompanies)

        function comparePayPerHour(a, b) {
            return a.average_pay_per_hour - b.average_pay_per_hour;
        }

        var sortedCompanies = dbCompanies.sort(comparePayPerHour);
        console.log("sorted our companies :-)", sortedCompanies);
        for (var i = 0; i < 4; i++) {
            var titleh1 = $("<h1>")
            titleh1.text(sortedCompanies[i].company_name)
            console.log("about to apend to page", titleh1)
            $("#results").append(titleh1)
        }
    })
</script> --}}


 