body {
    background-color: lightblue;
}

#main-container {
    margin-top: 3%;
    background-color: white;

}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
}

#userReview {
    width: 150%;
}

#companyName {
    font-size: 20pt;
}

#payBox {
    /* margin-top: 2%; */
    height: 150px;
    border-radius: 100px;
    /* background-color: MediumSeaGreen; */
}

 /* #payRate {
    margin-top: 2%;
    margin-left: 20%;
    font-size: 25pt;
} */

#linkBox{
    margin-top: 2%;
    height: 150px;
    border-radius: 100px;
    /* background-color: Teal; */
} 

/* #linkId {
    margin-top: 2%;
    margin-left: 20%;
    font-size: 25pt;
} */

.fa-star {
    margin-left: 5px;
    color: goldenrod;
    font-size: 40px !important;
}


.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.modal-header .close {
    display:none;
  }

  #logo_image {
    align: center;
    /* width: 13%;
    height: 13%; */
    border-radius: 50px;
    margin-top: -45px;
}

#title {
    font-family: 'Boogaloo', cursive;
    font-size: 100px !important;
    margin-top: 5%;
}

.modal {
    margin-top: 5%;
}

#ratePay {
    font-size: 20pt;
}

#newLink {
    font-size: 40pt;
}

a {
    width: 13%;
}

#results {
    /* background: white; */
    margin-top: 3%;
    /* border: solid black; */
    /* background: white; */
    /* border: solid black;  */
}

.wrapper {
    border:solid black;
    margin-top: 2%;
    background: white;
}

#center {
    background-color: #f0f7ee;
}

.logo {
    display: flex;
   align-items: center;
   flex-wrap: wrap;
}


#rating-stars:hover {
    transition-delay: 1s; /* delays for 1 second */
    -webkit-transition-delay: 1s; /* for Safari & Chrome */
}

.element { 
    /* position:absolute;  */
}

#location-user {
    font-size: 23pt;
    color:red; 
    z-index:1;
 }